Functional Requirements


1.User Authentication
-The gadget need to permit users (Student, Consultant, Departmental Programmer) to log in with a username and password.
-It need to display an blunders message with wrong login information.


2.Course Registration
-Students need to be capable of sign up withinside the publications for which they're eligible.
-During the direction registration process, it need to be checked whether or not the prerequisite publications were completed.
-Students need to be capable of sign up in a most of five publications in a single semester.


3.Schedule Management
-Students need to be capable of view the weekly time table of the publications they're enrolled in.
-The software need to encompass lesson hours and school room information.


4.Conflict Detection
-The gadget need to save you registration for multiple direction withinside the equal time period.
-Compliance with the conditions and potential of the publications need to be checked.


five.Waitlist Management
-A ready listing need to be created for publications which can be complete of potential.
-Students at the ready listing need to be mechanically enrolled withinside the direction whilst there's an opening withinside the direction potential.
-Students need to be notified approximately the ready listing status.


6.Department Scheduler Functions
-The Departmental Programmer need to be capable of assign time zones and lessons to the publications.
-He need to take a look at for time conflicts and school room potential for the duration of assignments.


7.Notifications
-The gadget need to ship notifications to college students for the subsequent situations:
-Approval or rejection of direction registration.
-Registration from the ready listing.
-Changes withinside the software.


8.Data Persistence
-All consumer and direction information need to be saved in JSON files (Iterations 1 and 2).
-In Iteration 3, a database (SQLite) can optionally be used for information storage.


9.Transcript Management
-The gadget need to make certain that scholars can view transcript information.
-Course notes and GPA calculations need to be made.


10.System Configuration
-The gadget makes use of the configuration parameters (parameters.json) need to be processed through reading.
-These parameters need to encompass regulations along with the most quantity of publications that may be taken in line with semester.